<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link href="https://fonts.googleapis.com/css?family=Rubik|Work+Sans" rel="stylesheet"> <!--Load the fonts-->
    <style>
        body {
            padding-top:80px;
            font-family: 'Rubik', sans-serif;
        }

        h1 {
            font-family: 'Work Sans', sans-serif;
        }
    </style>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
